[%- SWITCH index -%] [%- CASE 'su-na' -%] También buscar por materias específicas [%- CASE 'su-br' -%] También buscar por materias generales [%- CASE 'su-rl' -%] También buscar por materias relacionadas [%- END -%] 