[% INCLUDE 'help-top.inc' %] <h1>Ayuda en línea</h1>

<p>Lo siento, no hay ayuda para este tema, referirse a la <a href="http://es.koha-community.org/manual/3.12/es/">Manual de Koha 3.12</a> (en línea).</p>

<form action="/cgi-bin/koha/edithelp.pl" method="post">
 <input type="hidden" name="referer" value="[% referer %]" />
 <input type="hidden" name="type" value="addnew" />
 <input value="Agregar Ayuda" name="submit" type="submit" class="submit" />
</form>
 
[% INCLUDE 'help-bottom.inc' %]