a.title, a:hover,/*input.editshelf:hover,*/a.editshelf:hover,/*input.deleteshelf:hover*/ #opacmainuserblock h1, #leftmenus #menu ul li.active a, fieldset.brief legend {
	color : #008495;
}

input[type=submit], input[type=button], input[type=reset] {
	background : #008495;
	color : white;
}

input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover {
	background: #008495;
}

#listsmenu li:hover, #bd .yuimenuitem-selected{
	background : #008495;
}

#listsmenu li:hover a, #bd .yuimenuitem-selected a {
	color: white!important;
}

#fluid {
border-top:8px solid #fc0;
border-bottom:1px solid #e5e5e5;
background:#008495;
}

#fluid a{
	color:white;
}

#bd .yuimenuitem a {
	color:#7e7e7e;
}

#catalogue_detail_biblio h1 {color:#008495;}
.fecha {color:#008495;}

.cartlist input.submit, #tagsel_button {
}

#cartDetails,#cartUpdate,#holdDetails,#listsDetails, #listsmenu .bd, .message {
	border: 1px solid #008495;
}

/* tag, popular...*/

#topissues fieldset.rows ol, #userauthhome fieldset.rows ol, #usertags fieldset, #userpasswd ol {background-color: #FCFCFC;}
#userbrowser h1, #userreadingrecord h3, #usersuggestions h1,#usershelves h2,  #usertags h1, #userauthhome fieldset.rows legend, #topissues fieldset.rows legend, #userdetails h2, #userupdate h3, #userpasswd h3, #advsearch #booleansearch legend   {color:#008495;}