[% INCLUDE 'help-top.inc' %] <h1>Detalles del curso </h1>

<p>El módulo de curso de reservas en Koha le permite temporalmente desplazar ítems  desde "reserva" y asignarlos a reglas de circulación diferentes para esos ítems mientras que están siendo utilizados para un curso específico.  </p>

<p>La página de detalles le mostrará los elementos que tiene en reserva para su curso. Desde aquí se puede añadir / quitar elementos y editar el curso.</p>

<p><strong>Ver la documentación completa de Curso de Reserva en el <a href="http://manual.koha-community.org/3.14/en/coursereserves.html">manual</a> (en línea).</strong></p>

[% INCLUDE 'help-bottom.inc' %] 