[% INCLUDE 'help-top.inc' %] <h3>Facturación</h3>

<p>Este informe lista todas las cuentas pendientes en su sistema de bibliotecas.</p>
<p>Los filtros de la izquierda pueden ayudar a limitar los resultados mostrados en este informe.</p>

[% INCLUDE 'help-bottom.inc' %]