[% INCLUDE 'help-top.inc' %] <h1>Reservas a Preparar</h1>

<p>This report will show you all of the items that have holds on them that are available at the library for pulling. If the items are available at multiple libraries then all libraries with that item available will see the hold to pull until one library triggers the hold.</p>

<p>Puede limitar los resultados que ve con el cuadro 'Refinar' en la parte izquierda de la página</p>

<p><strong>Ver la documentación completa para Reservas para recoger en la <a href="http://manual.koha-community.org/3.10/en/circreports.html#holdspull">manual</a> (en línea).</strong></p>

[% INCLUDE 'help-bottom.inc' %]