[% INCLUDE 'help-top.inc' %] <h1>Reservas a preparar</h1>

<p>Este informe le mostrará todos los ejemplares que se mantiene en los que están disponibles en la biblioteca para solicitar. Si los ejemplares están disponibles en múltiples bibliotecas, todas las bibliotecas con ese ejemplar disponible verá la reserva lanzada hasta que desencadene la reserva. </p>

<p>Puede limitar los resultados que ve con el cuadro 'Refinar' en la parte izquierda de la página</p>

<p><strong>Ver la documentación completa para Reservas para recoger en el <a href="http://es.koha-community.org/manual/3.12/es/circreports.html#holdspull">manual</a> (en línea).</strong></p>

[% INCLUDE 'help-bottom.inc' %]