[% INCLUDE 'help-top.inc' %] <h1>Proporción de reservas</h1>

<p>La proporción de reservas es de ayuda para decisiones acerca del crecimiento de su colección. Usando este informe podrá ver el número de usuarios que tienen reservas y si usted debería comprar más. Por defecto se configurará que la biblioteca necesita 3 ítems por reserva. En el informe se le dirá cuántos ítem adicionales deben adquirirse para cumplir con esta cuota.</p>

<p><strong>Ver la documentación completa para Relaciones de Reserva en el <a href="http://es.koha-community.org/manual/3.12/es/circreports.html#holdratios">manual</a> (en línea).</strong></p>

[% INCLUDE 'help-bottom.inc' %] 