[% INCLUDE 'help-top.inc' %] <h1>Proporción de Reservas</h1>

<p>La proporción de reservas es de ayuda para decisiones acerca del crecimiento de su colección. Usando este informe podrá ver el número de socios que tienen reservas y si usted debería comprar más. Por defecto se configurará que la biblioteca necesita 3 ítems por reserva. En el informe se le dirá cuántos ítem adicionales deben adquirirse para cumplir con esta cuota.</p>

<p><strong>Ver la documentación completa para Relaciones de Reserva en la <a href="http://manual.koha-community.org/3.10/en/circreports.html#holdratios">manual</a> (en línea).</strong></p>

[% INCLUDE 'help-bottom.inc' %] 