[% INCLUDE 'help-top.inc' %] <h1>Reservas en Espera de Recogida</h1>

<p>Este informe mostrará todas las reservas que están a la espera de los socios para ser recogidas.</p>

<p>Los ítems reservados por más tiempo del normalmente permitido (basado en el valor de la preferencia ReservesMaxPickUpDelay) aparecerán en la pestaña 'Reservas vencidas', pero no serán canceladas automáticamente.</p>

<p><strong>Ver la documentación completa para Reservas en espera de recogida en la <a href="http://manual.koha-community.org/3.10/en/circreports.html#holdspickup">manual</a> (en línea).</strong></p>

[% INCLUDE 'help-bottom.inc' %]