[% INCLUDE 'help-top.inc' %] <h1>Reservas a retirar</h1>

<p>Este informe mostrará todas las reservas que están a la espera de los usuarios para ser recogidas.</p>

<p>Los ítems han estado en la biblioteca de reservas más tiempo del permitido (basado en la preferencia del sistema ReservesMaxPickUpDelay) y aparecerá en la pestaña de 'Préstamos terminados' y no será cancelado automáticamente a menos que se configure así. Se pueden cancelar todas las reservas utilizando el botón del principio de la lista.</p>

<p><strong>Ver la documentación completa para Reservas en espera de recogida en el <a href="http://es.koha-community.org/manual/3.12/es/circreports.html#holdspickup">manual</a> (en línea).</strong></p>

[% INCLUDE 'help-bottom.inc' %]