[% INCLUDE 'help-top.inc' %] <h1>Publicaciones periódicas</h1>

<p>El módulo de publicaciones periódicas ayuda a administrar sus suscripciones (revistas, revistas y periódicos).</p>

<p>Usted puede buscar suscripciones existentes mediante el cuadro de búsqueda en la parte superior de la página. Puede buscar cualquier parte del título de la publicación o el ISSN.</p>

<p><strong>Vea la documentación completa para Publicaciones periódicas en el <a href="http://es.koha-community.org/manual/3.12/es/serials.html">manual</a> (en línea).</strong></p>

[% INCLUDE 'help-bottom.inc' %] 