[% INCLUDE 'help-top.inc' %]

<h1>Publicaciones periódicas</h1>

<p>El módulo de publicaciones periódicas te ayuda a administrar tus suscripciones (diarios, revistas y periódicos).</p>

<p>You can search for existing subscriptions by using the search box at the top of the page. You can search for any part of the serial title or ISSN.</p>

<p><strong>See the full documentation for Serials in the <a href="http://manual.koha-community.org/3.6/en/serials.html">manual</a> (online).</strong></p>

[% INCLUDE 'help-bottom.inc' %]

