[% INCLUDE 'help-top.inc' %]

<h1>Detalles de la suscripción</h1>

<p>Esta página muestra toda la información sobre su suscripción incluyendo el historial de ejemplares.</p>

<p>Desde aquí se puede editar su suscripción, renovarla y/o recibir ejemplares.</p>

<p><strong>See the full documentation for Serials in the <a href="http://manual.koha-community.org/3.6/en/serials.html">manual</a> (online).</strong></p>

[% INCLUDE 'help-bottom.inc' %]