[% INCLUDE 'help-top.inc' %] <h1>Cargar plugin de Koha</h1>

<p>El sistema de plugins de Koha permite añadir herramientas e informes específicos de una biblioteca a Koha. Los plugins se instalan subiendo paquetes  KPZ (Koha Plugin Zip). Un archivo KZP contiene archivos perl, plantillas y otros archivos necesarios para que el plugin funciones.</p>

<p style="color: #990000;">Importante: Instalar sólo pluginos de fuentes de confianza.</p>

<p><strong>Ver la documentación completa del Plugin System en el<a href="http://es.koha-community.org/manual/3.12/es/pluginsystem.html">manual</a> (en línea).</strong></p>

[% INCLUDE 'help-bottom.inc' %] 