Número de cuenta,Nombre de carrito,Número de orden,Autor,Título,Código de editor,Año publicación, Título colección,ISBN,Cantidad,RRP,Descuento,Coste estimado,Notas,Fecha de entrada,Nombre librero,Dirección física del vendedor,Código postal del vendedor,Número de contrato,Nombre contrato,Lugar de entrega del grupo carrito,Lugar facturación del grupo carrito,Lugar de entrega de carrito,Lugar facturación del carrito [% FOREACH r IN rows %][% r.clientnumber %],"[% r.basketname %]",[% r.ordernumber %],"[% r.author %]","[% r.title %]","[% r.publishercode %]",[% r.publicationyear %],"[% r.collectiontitle %]",[% r.isbn %],[% r.quantity %],[% r.rrp %],[% r.discount %],[% r.ecost %],"[% r.notes %]",[% r.entrydate %],"[% r.booksellername %]","[% r.bookselleraddress %]","[% r.booksellerpostal %]",[% r.contractnumber %],"[% r.contractname %]","[% r.basketgroupdeliveryplace %]","[% r.basketgroupbillingplace %]","[% r.basketdeliveryplace %]","[% r.basketbillingplace %]" [% END %] 