[% INCLUDE 'doc-head-open.inc' %]<title>Koha-Kobli &rsaquo; Herramientas &rsaquo; Creador rápido de columna de etiquetas</title>
[% INCLUDE 'doc-head-close.inc' %] </head>
<body id="labels_spinelabel-home" class="tools labels">
[% INCLUDE 'header.inc' %] [% INCLUDE 'cat-search.inc' %] <div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Inicio</a> &rsaquo; <a href="/cgi-bin/koha/tools/tools-home.pl">Herramientas</a> &rsaquo; Creador rápido de etiquetas en columnas</div>

<div id="doc3" class="yui-t2">
 
 <div id="bd">
 <div id="yui-main">
 <div class="yui-b">
 <h2>Creador rápido de tejuelos</h2>
 <form action="/cgi-bin/koha/labels/spinelabel-print.pl" method="post">
 <fieldset class="brief">
 <ol>
 <li><label for="barcode">Código de barras: </label>
 <input type="text" name="barcode" id="barcode" class="focus" />
 </li>
 </ol>
 <fieldset class="action"><input value="Ver etiquetas encolumnadas" type="submit" /></fieldset>
 </fieldset>
 </form>
 </div>
 </div>
 <div class="yui-b">
 [% INCLUDE 'tools-menu.inc' %] </div>

</div>
[% INCLUDE 'intranet-bottom.inc' %] 