[% INCLUDE 'help-top.inc' %] <h1>Precios inciertos</h1>

<p>La página de Precios Inciertos es independiente de la cesta. Está relacionada con el proveedor, por lo que podrá ver todos los ítems con precios inciertos por orden de este proveedor.</p>

<p><strong>Vea la documentación completa para Precios inciertos en el  <a href="http://es.koha-community.org/manual/3.12/es/placingacqorder.html#createacqbasket">manual</a> (en línea).</strong></p>

[% INCLUDE 'help-bottom.inc' %] 