[% INCLUDE 'help-top.inc' %]

<h1>Upload OPAC images</h1>

<ul>
	<li><p>With this Tool you can modified and delete the OPAC Header images and OPAC Favicon.</p></li>
	<li><p>Only image formats are supported.</p></li>
	<li><p>Also you should see these images in this intranet tool.</p></li>
</ul>

[% INCLUDE 'help-bottom.inc' %]