[% INCLUDE 'help-top.inc' %] <h1>Subir imágenes del OPAC</h1>

<ul>
 <li><p>Con esta Herramienta puedes modificar y editar las imágenes de la cabecera del OPAC y su Favicon.</p></li>
 <li><p>Sólo son soportados formatos de imagen. </p></li>
 <li><p>También debería ver las imágenes en esta herramienta de intranet.</p></li>
</ul>

[% INCLUDE 'help-bottom.inc' %]