[% INCLUDE 'help-top.inc' %] <h1>Herramientas</h1>

<p>Las herramientas en Koha realizan algún tipo de acción. A menudo muchos de los ítems en Herramientas de Koha se conocen como 'Reportes' en otros sistemas de administración bibliográfica.</p>

<p><strong>Vea la documentación completa para Herramientas en el <a href="http://es.koha-community.org/manual/3.12/es/tools.html">manual</a> (en línea).</strong></p>

[% INCLUDE 'help-bottom.inc' %]