[% INCLUDE 'help-top.inc' %] <h1>Detalles de registro</h1>

<p>Koha En el registro bibliográfico contiene las principales informaciones relacionadas con el material. Esto incluye cosas como el título, autor, ISBN, etc, se almacena esta información en Koha en Marc (diferentes versiones de Marc se admiten en Koha). Una vez que esta información se guarda, los elementos o las explotaciones que se puede conectar.</p>

<p><strong>Ver la documentación completa para Catalogación en el <a href="http://es.koha-community.org/manual/3.12/es/cataloging.html#catbibs">manual</a> (en línea).</strong></p>

[% INCLUDE 'help-bottom.inc' %] 