[% INCLUDE 'help-top.inc' %] <h1>Historial de Préstamos</h1>

<p>Cada registro bibliográfico mantiene un historial de circulación (con o sin la información de los usuarios dependiendo de su configuración), pero cada ítem tiene también su página de historial propio. Para verla, haga clic en la pestaña 'Ítems' a la izquierda del registro que está viendo.</p>

<p>Bajo el encabezado 'Historia' hay un enlace a 'Ver historial de préstamos del ítem', haciendo clic le mostrará el historial del ítem el cual se ve levemente diferente de la página del historial de registros bibliográficos.</p>

<p><strong>Ver la documentación completa para Historial de Préstamo de Ítem en el <a href="http://es.koha-community.org/manual/3.12/es/catitems.html#itemcirchistory">manual</a> (en línea).</strong></p>

[% INCLUDE 'help-bottom.inc' %]