[% INCLUDE 'help-top.inc' %] <h1>Usuario multas</h1>

<p>Si establece la preferencia EnableBorrowerFiles 'Hacer' en la pestaña Archivos será visible en la página de información del usuario.</p>

<p>Desde aquí puede subir archivos para adjuntar el registro del usuario.  </p>

<p>Todos los archivos que se suben aparecerá por encima de un formulario donde los archivos adicionales desde se pueden cargar.</p>

<p><strong>Ver documentación completa para Archivos de Usuario en el <a href="http://es.koha-community.org/manual/3.12/es/patroninformation.html#patronfiles>manual</a> (online).</strong></p> [% INCLUDE 'help-bottom.inc' %] 