[% INCLUDE 'help-top.inc' %] <h1>Avisos para socios</h1>

<p>Las preferencias de mensajería del socio se establecen al agregar o modificar el socio. Esta pestaña muestra los mensajes que se han enviado y los que están en cola para ser enviados</p>

<p>Haciendo clic en el título del mensaje ampliará la vista para mostrarle el texto completo del mensaje enviado.</p>

<p><strong>Vea la documentación completa para Avisos de socios en la <a href="http://manual.koha-community.org/3.8/en/patroninformation.html#patnotices">manual</a> (en línea).</strong></p>

[% INCLUDE 'help-bottom.inc' %]