[% INCLUDE 'help-top.inc' %] <h1>Hojas de ruta de socios</h1>

<p>Una lista de todas las listas de enrutamiento de serie del socio al que  pertenece será accesible a través de la etiqueta  'Listas de Enrutamiento'  en el registro de usuario.</p>

<p>En esta ficha, podrá ver y editar todas las listas de enrutamiento que este socio está activo.</p>

<p><strong>Vea la documentación completa para Listas de ruteo en la  <a href="http://es.koha-community.org/manual/3.12/es/patroninformation.html#patronroutingtab">manual</a> (en línea).</strong></p>

[% INCLUDE 'help-bottom.inc' %] 