[% INCLUDE 'help-top.inc' %] <h1>Listas de circulación de usuarios</h1>

<p>Una lista de todas las listas de circulación de periódicas al que pertenece el usuario será accesible a través de la etiqueta  'Listas de Enrutamiento'  en el registro de usuario.</p>

<p>En esta ficha, podrá ver y editar todas las listas de circulación que este usuario está activo.</p>

<p><strong>Vea la documentación completa para Listas de circulación en el <a href="http://es.koha-community.org/manual/3.12/es/patroninformation.html#patronroutingtab">manual</a> (en línea).</strong></p>

[% INCLUDE 'help-bottom.inc' %] 