[% INCLUDE 'help-top.inc' %] <h1>Patron statistics</h1>

<p>Depending on what you set for the values of your StatisticsFields system preference, you can see statistics for one patron's circulation actions.</p>

<p><strong>Vea la documentación completa para Estadísticas de socios en la <a http://manual.koha-community.org/3.10/en/patroninformation.html#patronstatstab">manual</a> (en línea).</strong></p>

[% INCLUDE 'help-bottom.inc' %] 