[% INCLUDE 'help-top.inc' %] <h1>Estadísticas de usuarios </h1>

<p>En función de lo establecido para los valores de su preferencia StatisticsFields sistema, puede ver las estadísticas de las acciones de la circulación un usuario.</p>

<p><strong>Vea la documentación completa para Estadísticas de Usuarios en el <a href="http://es.koha-community.org/manual/3.12/es/patroninformation.html#patronstatstab">manual</a> (en línea).</strong></p>

[% INCLUDE 'help-bottom.inc' %] 