[% INCLUDE 'help-top.inc' %] <h1>Tipos de Autoridad </h1>

<p>Los Tipos de Autoridad son plantillas de catalogación MARC para registros de autoridad. Por lo tanto,  las reglas siguientes se refieren a plantilla de catalogación bibliográficas.</p>

<p>Koha viene con muchas hojas de trabajo de Autoridades previamente cargadas.</p>

<p><strong>Ver la documentación completa para Autoridades en la <a href="http://manual.koha-community.org/3.12/en/catadmin.html#authoritiesadmin">manual</a> (en línea).</strong></p>

[% INCLUDE 'help-bottom.inc' %] 